celese/assets/minecraft/textures/block/medium_amethyst_bud.png
celese/assets/minecraft/textures/block/small_amethyst_bud.png
celese/assets/minecraft/textures/item/amethyst_shard.png
celese/assets/minecraft/textures/item/amethyst_shard.png.mcmeta
celese/assets/minecraft/textures/item/apple.png
celese/assets/minecraft/textures/item/apple.png.mcmeta
celese/assets/minecraft/textures/item/diamond_sword.png
celese/assets/minecraft/textures/item/diamond_sword.png.mcmeta
celese/assets/minecraft/textures/item/emerald.png
celese/assets/minecraft/textures/item/emerald.png.mcmeta
celese/assets/minecraft/textures/item/heart_of_the_sea.png
celese/assets/minecraft/textures/item/heart_of_the_sea.png.mcmeta
celese/assets/minecraft/textures/item/lapis_lazuli.png
celese/assets/minecraft/textures/item/lapis_lazuli.png.mcmeta
celese/assets/minecraft/textures/item/shulker_shell.png
celese/assets/minecraft/textures/item/shulker_shell.png.mcmeta
celese/assets/celestelike/sounds/pickups/game_04_greenbooster_end.ogg
celese/assets/celestelike/sounds/pickups/game_04_greenbooster_enter.ogg
celese/assets/celestelike/sounds/pickups/game_05_redbooster_dash.ogg
celese/assets/celestelike/sounds/pickups/game_05_redbooster_end.ogg
celese/assets/celestelike/sounds/pickups/game_05_redbooster_enter.ogg
celese/assets/celestelike/sounds/pickups/game_05_redbooster_move_loop.ogg
celese/assets/celestelike/sounds/pickups/game_06_feather_get.ogg
celese/assets/celestelike/sounds/pickups/game_06_feather_reappear.ogg
celese/assets/celestelike/sounds/pickups/game_06_feather_renew.ogg
celese/assets/celestelike/sounds/pickups/game_06_feather_state_end.ogg
celese/assets/celestelike/sounds/pickups/game_06_feather_state_fast_loop.ogg
celese/assets/minecraft/textures/block/amethyst_cluster.png
celese/assets/minecraft/textures/block/large_amethyst_bud.png
celese/celese.zip
celese/pack.mcmeta
celese/pack.png
celese/assets/celestelike/sounds.json
celese/assets/celestelike/sounds/tf2.ogg
celese/assets/celestelike/sounds/blocks/game_09_hotpinball_activate.ogg
celese/assets/celestelike/sounds/blocks/game_gen_spring.ogg
celese/assets/celestelike/sounds/blocks/bumper/game_06_pinballbumper_hit_01.ogg
celese/assets/celestelike/sounds/blocks/bumper/game_06_pinballbumper_hit_02.ogg
celese/assets/celestelike/sounds/blocks/bumper/game_06_pinballbumper_hit_03.ogg
celese/assets/celestelike/sounds/blocks/cassette/game_gen_cassetteblock_switch_1.ogg
celese/assets/celestelike/sounds/blocks/cassette/game_gen_cassetteblock_switch_2.ogg
celese/assets/celestelike/sounds/blocks/dreamblock/char_mad_dreamblock_enter_01.ogg
celese/assets/celestelike/sounds/blocks/dreamblock/char_mad_dreamblock_enter_02.ogg
celese/assets/celestelike/sounds/blocks/dreamblock/char_mad_dreamblock_enter_03.ogg
celese/assets/celestelike/sounds/blocks/dreamblock/char_mad_dreamblock_enter_04.ogg
celese/assets/celestelike/sounds/blocks/dreamblock/char_mad_dreamblock_exit_01.ogg
celese/assets/celestelike/sounds/blocks/dreamblock/char_mad_dreamblock_exit_02.ogg
celese/assets/celestelike/sounds/blocks/dreamblock/char_mad_dreamblock_exit_03.ogg
celese/assets/celestelike/sounds/blocks/dreamblock/char_mad_dreamblock_exit_04.ogg
celese/assets/celestelike/sounds/blocks/dreamblock/char_mad_dreamblock_travel_loop.ogg
celese/assets/celestelike/sounds/blocks/dreamblock/char_mad_dreamblock_travel.ogg
celese/assets/celestelike/sounds/crystals/game_10_pinkdiamond_return_01.ogg
celese/assets/celestelike/sounds/crystals/game_10_pinkdiamond_return_02.ogg
celese/assets/celestelike/sounds/crystals/game_10_pinkdiamond_return_03.ogg
celese/assets/celestelike/sounds/crystals/game_10_pinkdiamond_touch_01.ogg
celese/assets/celestelike/sounds/crystals/game_10_pinkdiamond_touch_02.ogg
celese/assets/celestelike/sounds/crystals/game_10_pinkdiamond_touch_03.ogg
celese/assets/celestelike/sounds/crystals/game_gen_diamond_return_01.ogg
celese/assets/celestelike/sounds/crystals/game_gen_diamond_return_02.ogg
celese/assets/celestelike/sounds/crystals/game_gen_diamond_return_03.ogg
celese/assets/celestelike/sounds/crystals/game_gen_diamond_touch_01.ogg
celese/assets/celestelike/sounds/crystals/game_gen_diamond_touch_02.ogg
celese/assets/celestelike/sounds/crystals/game_gen_diamond_touch_03.ogg
celese/assets/celestelike/sounds/effects/char_mad_dash_red_left.ogg
celese/assets/celestelike/sounds/effects/char_mad_dash_red_right.ogg
celese/assets/celestelike/sounds/effects/char_mad_death_goldenberry.ogg
celese/assets/celestelike/sounds/effects/char_mad_death.ogg
celese/assets/celestelike/sounds/effects/char_mad_predeath.ogg
celese/assets/celestelike/sounds/effects/char_mad_revive.ogg
celese/assets/celestelike/sounds/pickups/game_04_greenbooster_dash.ogg
